<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.myadminjavaeight.mapper.UserRoleMapper">

    <insert id="batchInsert">
        INSERT INTO sys_user_role (user_id, role_id)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.userId}, #{item.roleId})
        </foreach>
    </insert>

    <delete id="deleteByUserId">
        DELETE FROM sys_user_role WHERE user_id = #{userId}
    </delete>

    <select id="findByUserId" resultType="org.example.jwtjavaeight.domain.entity.SysUserRole">
        SELECT id, user_id, role_id, create_time
        FROM sys_user_role
        WHERE user_id = #{userId}
    </select>

    <delete id="deleteByUserIdAndRoleId">
        DELETE FROM sys_user_role
        WHERE user_id = #{userId} AND role_id = #{roleId}
    </delete>

</mapper>